* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    padding: 2em;
    background: linear-gradient(80deg, #d53369 0%, #da9f47 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(222, 223, 227);
    text-shadow: 2px 2px 10px rgb(41, 44, 51);
}

header {
    display: flex;
}

.spacer {
    flex: 1;
    text-align: right;
}

header h1 {
    font-weight: 300;
    display: flex;
    align-items: center;
}

.logo {
    letter-spacing: 0.3em;
}

.logo .logo--lambda {
    font-size: 2.5em;
    text-shadow: 2px 2px 15px rgb(41, 44, 51);
}

.player-names {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-name {
    width: 23.8%;
    padding: 0.25em 1em;
    font-size: 1.5em;
    background: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    color: inherit;
    border-radius: 10px;
    font-family: inherit;
    font-weight: inherit;
    text-shadow: inherit;
}

.player-name::placeholder {
    color: inherit;
    font-style: italic;
    font-size: 0.75em;
    opacity: 0.5;
}

.player1 {
    text-align: right;
}

.center {
    text-align: center;
}

.message {
    font-size: 1.2em;
    margin: 2em 0;
}

button {
    padding: 1em;
    color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: transparent;
    
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 2px 20px rgba(41, 44, 51, 0.5);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.06) 30%,
        rgba(255, 255, 255, 0.11) 50%, rgba(255, 255, 255, 0.06) 80%, rgba(255, 255, 255, 0.03));
}
