h1 {
    margin-bottom: 0;
}

.room-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.room-controls .control {
    margin: 5px;
}

.gameid {
    width: 15em;
    text-align: center;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

.room-controls a.material-icons {
    vertical-align: middle;
    text-shadow: none;
    cursor: pointer;
    transition: text-shadow 0.1s ease;
}

.room-controls a.material-icons:hover {
    text-shadow: inherit;
}

.followup.proposed {
    transform: rotate(15deg);
}

.store0.active,
.h0.active,
.h1.active,
.h2.active,
.h3.active,
.h4.active,
.h5.active {
    box-shadow: 4px 4px 20px rgba(41, 44, 51, 0.5);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.06) 30%,
        rgba(255, 255, 255, 0.11) 50%, rgba(255, 255, 255, 0.06) 80%, rgba(255, 255, 255, 0.03));
}

.store0.active:hover,
.h0.active:hover,
.h1.active:hover,
.h2.active:hover,
.h3.active:hover,
.h4.active:hover,
.h5.active:hover {
    cursor: pointer;
    box-shadow: 5px 5px 25px rgba(41, 44, 51, 0.6);
}
